section.section.section--awesome.awesome
  .section__content
    h2.awesome__title
      | What makes an
      b  Unconf
      |  so awesome?

    .section__copy
      p You! Everybody can propose a talk. Everybody votes for the talks they want to see. The most voted talks will be held. You decide what will happen!

  .section__content
    img.section__image(src='/images/voting.jpg')
