section.section.section--date
  .section__content
    .section__title
      | <span class="bold">23</span><span class="light">rd</span> & <span class="bold">24</span><span class="light">th</span> of April <br>
      | Hamburg
      
    .section__copy 
      p Like in the last years, JSUnconf will take place in the center of Hamburg. More details on the location soon! 

    .map
      .map__canvas#map-canvas
  
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.4/mapbox-gl.js')

    script.
      mapboxgl.accessToken = 'pk.eyJ1IjoianN1bmNvbmYiLCJhIjoiY2lqdTV3cjNwMDAxYnU5bTRnNzg3cWU0byJ9.tRs9vvtTl1JpoRUzqTbGaQ';

      var map = new mapboxgl.Map({
        container: 'map-canvas',
        style: 'mapbox://styles/jsunconf/ciju5ysiq00fvbpm373dkh84x',
        center: [9.96, 53.56],
        zoom: 12,
        interactive: false
      });
