section.section.section--date
  .section__content
    h2
      | <span class="bold">23</span><span class="light">rd</span> & <span class="bold">24</span><span class="light">th</span> of April <br>
      | Hamburg
      
    .section__copy 
      p Like in the last years, JSUnconf will take place in the center of Hamburg. We return to the location of the first JSUnconf: Geomatikum, Universität Hamburg, Bundesstraße 55, 20146 Hamburg.

    .map
      .map__canvas#map-canvas
  
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.4/mapbox-gl.js')

    script.
      mapboxgl.accessToken = 'pk.eyJ1IjoianN1bmNvbmYiLCJhIjoiY2lqdTV3cjNwMDAxYnU5bTRnNzg3cWU0byJ9.tRs9vvtTl1JpoRUzqTbGaQ';

      var map = new mapboxgl.Map({
        container: 'map-canvas',
        style: 'mapbox://styles/jsunconf/ciju5ysiq00fvbpm373dkh84x',
        center: [9.96, 53.56],
        zoom: 12,
        scrollZoom: false,
        touchZoomRotate: false
      });
      
      map.addControl(new mapboxgl.Navigation());
              
      /*
       * Available marker types are: bar and university.
       * Can add more, just ping me.
       */
      var markers = {
        type: 'FeatureCollection',
        features: [
          {
            type: 'Feature',
            properties: {
              'marker-symbol': 'university',
              description: '<strong>Universität Hamburg</strong><br />Geomatikum<br />Bundesstraße 55<br />20146 Hamburg<br /><br /><a href="https://www.google.com/maps?q=53.5682,9.9744+%28Geomatikum,+Bundesstra%C3%9Fe+55,+20146+Hamburg,+Germany%29" target="_blank" title="Navigate">&raquo; Navigate here</a>'
            },
            geometry: {
              type: 'Point',
              coordinates: [9.9744,53.5682]
            }
          }, {
            type: 'Feature',
            properties: {
              'marker-symbol': 'bar',
              description: '<strong>Kleine Freiheit Nr. 3</strong><br />22767 Hamburg<br /><br />Friday, April 22nd 2016<br />starting at 19h<br /><br /><a href="https://www.google.de/maps/place/Kleine+Freiheit+No.+3/@53.5529394,9.9543377,17z/data=!4m12!1m9!4m8!1m0!1m6!1m2!1s0x47b18f6f9bb67fa1:0xc74ced2bc6c2d94e!2sKleine+Freiheit+No.+3,+Kleine+Freiheit+3,+22767+Hamburg!2m2!1d9.9565264!2d53.5529362!3m1!1s0x47b18f6f9bb67fa1:0xc74ced2bc6c2d94e" target="_blank" title="Navigate">&raquo; Navigate here</a>'
            },
            geometry: {
              type: 'Point',
              coordinates: [9.956516,53.552936]
            }
          }, {
            type: 'Feature',
            properties: {
              'marker-symbol': 'bar',
              description: '<strong>Good Old Days</strong><br />Max-Brauer-Allee 275<br />22769 Hamburg<br /><br />Saturday, April 23rd 2016<br />starting at 19h<br /><br /><a href="https://www.google.de/maps/place/Good+Old+Days+Dance+Bar/@53.563565,9.9570948,17z/data=!3m1!4b1!4m2!3m1!1s0x47b18f42d354b6e7:0x2409f6f2f52cd803" target="_blank" title="Navigate">&raquo; Navigate here</a>'
            },
            geometry: {
              type: 'Point',
              coordinates: [9.95911,53.5635]
            }
          }
        ]
      }

      map.on('style.load', function () {
        map.addSource('markers', {
          type: 'geojson',
          data: markers
        });
        map.addLayer({
          id: 'markers',
          interactive: true,
          type: 'symbol',
          source: 'markers',
          layout: {
            'icon-allow-overlap': true,
            'icon-image': '{marker-symbol}',
            'icon-offset': [0, -16]
          }
        });
      });

      map.on('click', function (e) {
        map.featuresAt(e.point, {layer: 'markers', radius: 32, includeGeometry: true}, function (err, features) {
          if (err || !features.length) return;

          var feature = features[0];
          new mapboxgl.Popup()
            .setLngLat(feature.geometry.coordinates)
            .setHTML(feature.properties.description)
            .addTo(map);
        });
      });

      map.on('mousemove', function (e) {
        map.featuresAt(e.point, {layer: 'markers', radius: 32}, function (err, features) {
          map.getCanvas().style.cursor = (!err && features.length) ? 'pointer' : '';
        });
      });
