header.main-header
  img.main-header__logo(src='images/jsunconflogo.svg', alt='JSUnconf')

  p.main-header__title
    | Hamburg, 23rd & 24th of April 2016
  p.main-header__tagline
    | This is <span> your</span> conference
