header.main-header
  img.main-header__logo(src='images/jsunconflogo.svg', alt='JSUnconf')

  p.main-header__title
    | Hamburg, 23rd &amp; 24th of April 2016
  h2.main-header__tagline
    | This is <span> your</span> conference
  
  include mailchimp
