header.main-header
  h1.main-header__logo
    img.main-header__logo__image(src='images/jsunconflogo.svg', alt='JSUnconf')

  p.main-header__title
    | Hamburg, 23rd &amp; 24th of April 2016
  h2.main-header__tagline
    | This is <span> your</span> conference
  
  .main-header__content
    p
      | Do you want to propose a talk?
    p
      | Or are interested in a topic you want to hear about?
      
    p
      a.button.button--small(href="contriboot") Add your contribution or interest
