section#sightseeing.section.section--sightseeing
  .section__content
    h2 Sightseeing

    .section__copy
      p If you are the first time in Hamburg we have some tipps for getting around here and what you should probably visit while being here.
      p Having some days left before or after JSUnconf?
        a(href="/sightseeing") Hamburg is beautiful <3

  .section__content
    img.section__image(src='/images/hamburg_02.jpg')
