section.section.section--date
  .section__content
    .section__title
      | <span class="bold">23</span><span class="light">rd</span> & <span class="bold">24</span><span class="light">th</span> of April <br>
      | Hamburg
