nav.navigation
  //- ul.navigation__list
  //-   li.navigation__list--item Tickets

  //- a(href="https://ti.to/jsunconf/jsunconf-2016").button.navigation__ticket-button
  //-   | Get your €59 Early Bird Ticket
