section.section.section--sponsors
  .section__content
    .section__title How To <br/> become a <br/>
      span.bold Sponsor

    .section__copy 
      p We are expecting sponsorship slots to be taken very quickly.
      p View the detailled information about <a href="https://drive.google.com/open?id=0B6ZGLuPqMywcX3l4cG9WUkNHX1E">various sponsoring options</a>.
      p Please send us your feedback by the end of January, 2016.

    a(href="mailto:sponsoring@jsunconf.eu?subject=Sponsoring the JSUnconf 2016").button Send us an e-mail
