section.section.section--sponsors
  .section__content
    .section__title How To <br/> become a <br/>
      span.bold Sponsor

    .section__copy 
      p Are you interested in sponsoring the JavaScript Unconference 2016? We are still looking for sponsors!
      p <a href="https://drive.google.com/file/d/0B6ZGLuPqMywcdHJwSlJpRGZXTW8/preview">We have collected some information.</a>

    a(href="mailto:sponsoring@jsunconf.eu?subject=Sponsoring the JSUnconf 2016").button Send us an e-mail
