section.section.section--tickets.tickets
  .section__content
    .section__title Tickets

    .section__copy
      dl.tickets__prices
        dt Early Bird:
        dd <span>€59</span> (Sold out!)
        dt Regular:
        dd <span>€79</span> (February & March 2016) 

    .section__subtitle.section--strong Diversity Tickets

    .section__copy 
      p We welcome applicants from underrepresented groups in tech to apply. This includes, but is not limited to: women, people of color, LGBTQIA people, disabled people, and people facing economic or political hardships. We expect that we will receive more applicants than we can support financially. Grantees will be chosen on the basis of economic need and interest in the JavaScript community. Scholarship recipients will receive a JSUnconf 2016 ticket plus a €300 travel and accomodation stipend. The deadline is March 13th. Applicants will be notified by March 20th. Interested applicants can apply for the Diversity Scholarship <a href="http://goo.gl/forms/Rlw5AQRN8y">here</a>.


    //- a(href="https://ti.to/jsunconf/jsunconf-2016").button Get your €59  Early Bird Ticket
