.main-header
  font-size: 1rem
  width: 100%
  margin-bottom: emCalc(40)

  &__logo
    max-width: emCalc(160)
    margin-bottom: emCalc(45)

  &__title
    font-size: emCalc(18)
    font-weight: 300
    margin-bottom: emCalc(18, 18)

  &__tagline
    font-size: remCalc(56)

    margin: 0

    max-width: emCalc(450, 56)

    font-weight: 100
    text-transform: uppercase

  span
    font-weight: 800
