.section
  display: flex

  margin-top: emCalc(600)

  @media $mqSmall
    margin-top: emCalc(600)

  @media $mqMiddle
    margin-top: emCalc(100)

  @media $mqNormal
    margin-top: emCalc(200)

  &:last-of-type
    margin-bottom: emCalc(200)

  &--tickets
    flex-direction: row-reverse
    padding-left: emCalc(30)

  &--date
    justify-content: center
    width: auto
    flex-grow: 1

    .section__content
      width: auto

    .section__title
      text-align: center

  &--coc
    justify-content: center

  &__content
    width: 100%
    text-align: justify

    @media $mqMiddle
      width: 50%

  &__title
    font-size: emCalc(40)

    margin-bottom: emCalc(20, 40)

    font-weight: 100
    text-transform: uppercase
    text-align: center

    @media $mqMiddle
      text-align: left

    span.bold
      font-weight: 800

    span.light
      font-weight: 100
      text-transform: none

    @media $mqMiddle
      font-size: emCalc(60)

  &__subtitle
    font-size: emCalc(32)
    font-weight: 500
    line-height: 2

  &__copy
    text-transfrom: uppercase
    font-size: emCalc(18)
    line-height: 2


    @media $mqMiddle
      margin-bottom: emCalc(24, 18)
