footer.main-footer
  .main-footer__people
  
  a.main-footer__link(href='https://twitter.com/jsunconf' title='Follow us on Twitter', target='_blank')
    img(src='/images/twitter.svg', alt='')
    | Follow us on Twitter
