script.
  !function(j,s,u,n,c,o,N,f){j.GoogleAnalyticsObject=u;j[u]||(j[u]=function(){
  (j[u].q=j[u].q||[]).push(arguments)});j[u].l=+new Date;o=s.createElement(n);
  N=s.getElementsByTagName(n)[0];o.src=c;N.parentNode.insertBefore(o,N)}
  (window,document,'ga','script','//www.google-analytics.com/analytics.js');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
  
  console.log(
    '%c' +
    '████████████████████████\n' +
    '████████████████████████\n' +
    '████████████████████████\n' +
    '██████████  ████    ████\n' +
    '██████████  ██  ████████\n' +
    '██████████  ████    ████\n' +
    '██████████  ████████  ██\n' +
    '██████████  ██  ████  ██\n' +
    '██████    ██████    ████\n' +
    '████████████████████████\n' +
    '██████   U N C O N F  ██\n' +
    '████████████████████████\n' +
    '\n',
    'color: rgb(145, 28, 128)'
  );

  console.log(
    '%c' +
    'THIS IS YOUR CONFERENCE!',
    'color: #666'
  );
  console.log(
    '%c' +
    '----> j.mp/S3CR3T-ticket',
    'color: rgba(0, 105, 180, 0.5)'
  );
