extends _layout

block main
  section.content.code-of-conduct
    header.code-of-conduct__header
      h1.code-of-conduct__title !{title}
      p.code-of-conduct__experpt !{exerpt}

    .code-of-conduct__content !{contents}
