extends _layout

block main

  include index-partials/header
  include index-partials/schedule
  include index-partials/date
  include index-partials/sightseeing
  include index-partials/awesome
  include index-partials/code-of-conduct
