extends _layout

block main

  include index-partials/header
  include index-partials/mailchimp
  include index-partials/tickets
  include index-partials/date
  include index-partials/sponsors
  include index-partials/awesome
  include index-partials/code-of-conduct
