.code-of-conduct
  max-width: emCalc(700)

  &__header
    margin-bottom: emCalc(70)

    h1
      font-size: remCalc(63)
      text-transform: uppercase
      font-weight: 100
      text-align: center

  &__experpt
    font-size: remCalc(18)
    line-height: 1.63

  &__content
    h2, h3, p
      line-height: 2

    h2
      font-size: emCalc(18)

    h3
      font-size: emCalc(16)

    p
      font-size: emCalc(15)
