.ticket-button
  font-size: 1rem
  position: absolute
  top: 0
  right: 2em
  display: none
  border-top-left-radius: 0
  border-top-right-radius: 0
  z-index: 5

  @media $mediaQuerySmall
    display: block
