extends partials/layout

block main

  nav.navigation
    //- ul.navigation__list
    //-   li.navigation__list--item Tickets

    button.button.navigation__ticket-button
      | Get your €59 Early Bird Ticket soon

  header.main-header
    img.main-header__logo(src='images/jsunconflogo.svg', alt='JSUnconf')

    p.main-header__title
      | 23. & 24. April , Hamburg
    p.main-header__tagline
      | This is <strong> your</strong> conference

  // Begin MailChimp Signup Form
  section.mc_embed_signup
    form#mc-embedded-subscribe-form.validate.stay-up-to-date(action='//jsunconf.us11.list-manage.com/subscribe/post?u=562adf61069508a950eb241c9&id=f013091375', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
      #mc_embed_signup_scroll
        .mc-field-group
          input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Keep me updated')
        #mce-responses.clear
          #mce-error-response.response(style='display:none')
          #mce-success-response.response(style='display:none')
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px;')
          input(type='text', name='b_562adf61069508a950eb241c9_f013091375', tabindex='-1', value='')
        .clear
          button#mc-embedded-subscribe.button(type='submit', name='subscribe') ok
  // End mc_embed_signup

  //- section.section--left
  //-   .section__title Title left
  //-   .section__copy Lorem Ipsum Dolor zit amet.
  //-   .button Tickets soon
  //- section.section--right
  //-   .section__title Title right
  //-   .section__copy Lorem Ipsum Dolor zit amet.
  //- section.section--center
  //-   .section__title Title center
  //-   .section__copy Lorem 
  //-     span.section--strong Ipsum 
  //-     |  Dolor zit amet.
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44357704-6', 'auto');
    ga('send', 'pageview');
