extends partials/layout

block main

  include partials/navigation

  header.main-header
    img.main-header__logo(src='images/jsunconflogo.svg', alt='JSUnconf')

    p.main-header__title
      | Hamburg, 23rd & 24th of April 2016
    p.main-header__tagline
      | This is <span> your</span> conference


  include partials/mailchimp
  include partials/tickets
  //- include partials/date
  include partials/sponsors
  include partials/awesome
  include partials/code-of-conduct

  footer.main-footer
    a.main-footer__link(href='https://twitter.com/jsunconf' title='Follow us on Twitter', target='_blank')
      img(src='images/twitter.svg', alt='')
      | Follow us on Twitter

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44357704-6', 'auto');
    ga('send', 'pageview');
    
    console.log(
      '%c' +
      '████████████████████████\n' +
      '████████████████████████\n' +
      '████████████████████████\n' +
      '██████████  ████    ████\n' +
      '██████████  ██  ████████\n' +
      '██████████  ████    ████\n' +
      '██████████  ████████  ██\n' +
      '██████████  ██  ████  ██\n' +
      '██████    ██████    ████\n' +
      '████████████████████████\n' +
      '██████   U N C O N F  ██\n' +
      '████████████████████████\n' +
      '\n',
      'color: rgb(145, 28, 128)'
    );

    console.log(
      '%c' +
      'THIS IS YOUR CONFERENCE!',
      'color: #666'
    );
    console.log(
      '%c' +
      '----> j.mp/S3CR3T-ticket',
      'color: rgba(0, 105, 180, 0.5)'
    );
