.stay-up-to-date {
  font-size: 1.25rem;
  line-height: 1.666;
  position: relative;
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 18.75em;
  margin: 0;
}
.stay-up-to-date input[type="email"] {
  font-weight: 300;
  line-height: inherit;
  width: 100%;
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding-right: 2.2em;
}
.stay-up-to-date button {
  font-weight: 800;
  line-height: inherit;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  box-shadow: none;
  top: 0;
  right: 0;
}
.stay-up-to-date button:after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.6em;
  background: transparent url("../images/arrow-right.svg") no-repeat scroll 50% center;
  background-size: 100%;
  vertical-align: baseline;
  margin-left: 0.3em;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s easeout;
}
.stay-up-to-date label {
  font-size: 0.5833333333em;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-align: left;
}
.stay-up-to-date input,
.stay-up-to-date input:hover,
.stay-up-to-date input:focus {
  outline: none;
}
.stay-up-to-date button:hover:after,
.stay-up-to-date button:focus:after {
  transform: translateX(0.2em);
  transform: translateX(0.2em);
}
