@import url("https://fonts.googleapis.com/css?family=Raleway:800,300,100");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: rgba(145,28,128,0.8);
}
::selection {
  background: rgba(145,28,128,0.8);
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
:-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
html {
  min-height: 100%;
  font-size: 100%;
  font-size: 11px;
  tap-highlight-color: rgba(0,0,0,0);
}
@media (min-width: 700px) {
  html {
    font-size: 100%;
  }
}
body {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5625em;
  background: #bbb4b4;
  background-image: url("../images/ticket.jpg"), url("../images/keyvisual.jpg"), url("../images/sponsor.jpg");
  background-repeat: no-repeat;
  background-position: center 1050px, right 370px, center 1680px;
  background-size: 60%, 80%, 60%;
  font-family: Raleway, sans-serif;
  line-height: 1.2;
  color: #fff;
  font-feature-settings: 'kern' 1;
  min-height: 100%;
}
@media (min-width: 700px) {
  body {
    background-position: center 1600px, right 550px, center 2500px;
    background-size: 60%, 80%, 60%;
  }
}
@media (min-width: 1000px) {
  body {
    background-size: 60%;
  }
}
@media (min-width: 1000px) {
  body {
    background-size: 60%;
    background-position: -100px 600px, calc(100% + 50px) 120px, calc(100% + 50px) 1400px;
  }
}
@media (min-width: 1300px) {
  body {
    background-size: auto, auto, auto;
    background-position: -100px 43.75em, calc(100% + 50px) 120px, calc(100% + 50px) 1400px;
  }
}
header,
nav,
section {
  max-width: 75em;
  width: 100%;
}
p {
  margin-bottom: 0.625em;
}
a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
ul {
  list-style: none;
}
li {
  margin: 0;
}
dt,
dd {
  display: inline;
  margin: 0;
}
dd:after {
  content: '\A';
  white-space: pre;
}
button,
.button {
  font-size: 1.125rem;
  display: inline-block;
  padding: 1.111111111111111em 1.666666666666667em;
  box-shadow: 2px 2px 0px 2px #004b9f;
  border: transparent solid;
  border-width: 0 0.222222222222222em 0.222222222222222em 0;
  border-radius: 0.222222222222222em;
  color: #fff;
  letter-spacing: 0.5px;
  background: #0069b4;
}
.main-header {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2.5em;
}
@media (min-width: 1000px) {
  .main-header {
    align-items: flex-start;
  }
}
.main-header__logo {
  max-width: 10em;
  margin-bottom: 2.8125em;
}
.main-header__title {
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 1em;
}
.main-header__tagline {
  font-size: 3.5rem;
  margin: 0;
  max-width: 8.035714285714286em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 700px) {
  .main-header__tagline {
    text-align: left;
  }
}
.main-header span {
  font-weight: 800;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.9375em;
}
.navigation__list {
  font-size: 0.875rem;
  display: flex;
  flex-grow: 1;
  margin-left: 11.428571428571429em;
}
.navigation__ticket-button {
  display: none;
  align-self: flex-end;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 700px) {
  .navigation__ticket-button {
    display: block;
  }
}
.section {
  display: flex;
  margin-top: 37.5em;
}
@media (min-width: 700px) {
  .section {
    margin-top: 37.5em;
  }
}
@media (min-width: 1000px) {
  .section {
    margin-top: 6.25em;
  }
}
@media (min-width: 1300px) {
  .section {
    margin-top: 12.5em;
  }
}
.section:last-of-type {
  margin-bottom: 12.5em;
}
.section--tickets {
  flex-direction: row-reverse;
  padding-left: 1.875em;
}
.section--date {
  justify-content: center;
  width: auto;
  flex-grow: 1;
}
.section--date .section__content {
  width: auto;
}
.section--date .section__title {
  text-align: center;
}
.section--coc {
  justify-content: center;
}
.section__content {
  width: 100%;
  text-align: justify;
}
@media (min-width: 1000px) {
  .section__content {
    width: 50%;
  }
}
.section__title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1000px) {
  .section__title {
    text-align: left;
  }
}
.section__title span.bold {
  font-weight: 800;
}
.section__title span.light {
  font-weight: 100;
  text-transform: none;
}
@media (min-width: 1000px) {
  .section__title {
    font-size: 3.75em;
  }
}
.section__subtitle {
  font-size: 2em;
  font-weight: 500;
  line-height: 2;
}
.section__copy {
  text-transfrom: uppercase;
  font-size: 1.125em;
  line-height: 2;
}
@media (min-width: 1000px) {
  .section__copy {
    margin-bottom: 1.333333333333333em;
  }
}
.stay-up-to-date {
  font-size: 1.25rem;
  line-height: 1.666;
  position: relative;
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 18.75em;
}
@media (min-width: 1000px) {
  .stay-up-to-date {
    margin: 0;
  }
}
.stay-up-to-date input[type="email"] {
  font-weight: 300;
  line-height: inherit;
  width: 100%;
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding-right: 2.2em;
}
.stay-up-to-date button {
  font-weight: 800;
  line-height: inherit;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  box-shadow: none;
  top: 0;
  right: 0;
}
.stay-up-to-date button:after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.6em;
  background: transparent url("../images/arrow-right.svg") no-repeat scroll 50% center;
  background-size: 100%;
  vertical-align: baseline;
  margin-left: 0.3em;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s easeout;
}
.stay-up-to-date label {
  font-size: 0.5833333333em;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-align: left;
}
.stay-up-to-date input,
.stay-up-to-date input:hover,
.stay-up-to-date input:focus {
  outline: none;
}
.stay-up-to-date button:hover:after,
.stay-up-to-date button:focus:after {
  transform: translateX(0.2em);
  transform: translateX(0.2em);
}
.tickets__prices span {
  font-weight: 600;
}
.sponsor {
  position: absolute;
  left: 0;
  padding-bottom: 500px;
  top: 330vh;
}
@media (min-width: 700px) {
  .sponsor {
    top: 250vh;
  }
}
@media (min-width: 1000px) {
  .sponsor {
    padding-bottom: 100px;
    top: 160vh;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .sponsor {
    top: 150vh;
  }
}
.sponsor .section__title {
  margin-bottom: 0.433333333333333em;
}
.sponsor .section__subtitle {
  margin: 1.666666666666667em 0 0.888888888888889em 0;
}
.sponsor .section__copy {
  line-height: 1.888888888888889em;
}
.sponsor .button {
  margin: 1.5em 0 0 0;
}
