.section {
  font-size: 1rem;
  display: flex;
  margin-top: emCalc(400);
}
@media $mediaQueryBig {
  .section {
    margin-top: emCalc(100);
  }
}
.section--date {
  justify-content: center;
  width: auto;
  flex-grow: 1;
  margin-top: emCalc(500);
}
@media $mediaQueryBig {
  .section--date {
    margin-top: emCalc(80);
  }
}
.section--date .section__content {
  width: auto;
}
.section--date .section__title {
  text-align: center;
}
.section--coc {
  justify-content: center;
  margin-top: emCalc(100);
}
.section__content {
  width: 100%;
  text-align: center;
}
@media $mediaQuerySmall {
  .section__content {
    text-align: left;
  }
}
@media $mediaQueryBig {
  .section__content {
    width: 48%;
  }
}
.section__title {
  font-size: emCalc(40, 11);
  margin-bottom: emCalc(20, 40);
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
@media $mediaQuerySmall {
  .section__title {
    font-size: emCalc(40);
  }
}
@media $mediaQueryBig {
  .section__title {
    text-align: left;
    font-size: emCalc(40);
  }
}
.section__title .bold {
  font-weight: 800;
}
.section__title .light {
  font-weight: 100;
  text-transform: none;
}
@media $mediaQuerySmall {
  .section__title {
    font-size: emCalc(60);
  }
}
.section__subtitle {
  font-size: emCalc(32);
  font-weight: 400;
  line-height: 2;
}
.section__copy {
  font-size: emCalc(24);
  line-height: 1.6;
}
@media $mediaQuerySmall {
  .section__copy {
    font-size: emCalc(18);
    line-height: 2;
    margin-bottom: emCalc(24, 18);
  }
}
