*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: rgba(145,28,128,0.8);
}
::selection {
  background: rgba(145,28,128,0.8);
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
:-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
html {
  min-height: 100%;
  font-size: 100%;
  tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 emCalc(25px);
  background: $backgroundColor;
  background-image: url("../images/ticket.png"), url("../images/keyvisual.png"), url("../images/sponsor.png");
  background-repeat: no-repeat;
  background-position: -100px 600px, calc(100% + 50px) 120px, calc(100% + 50px) 1400px;
  font-family: Raleway, sans-serif;
  line-height: 1.2;
  color: $mainFontColor;
  font-feature-settings: 'kern' 1;
  min-height: 100%;
}
header,
nav,
section {
  max-width: emCalc(1200);
  width: 100%;
}
p {
  margin-bottom: emCalc(10);
}
a {
  color: $mainFontColor;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
ul {
  list-style: none;
}
li {
  margin: 0;
}
dt,
dd {
  display: inline;
  margin: 0;
}
dd:after {
  content: '\A';
  white-space: pre;
}
button,
.button {
  font-size: remCalc(18);
  display: inline-block;
  padding: emCalc(20, 18) emCalc(30, 18);
  box-shadow: 2px 2px 0px 2px $blue;
  border: transparent solid;
  border-width: 0 emCalc(4, 18) emCalc(4, 18) 0;
  border-radius: emCalc(4, 18);
  color: $mainFontColor;
  letter-spacing: 0.5px;
  background: $lighterBlue;
}
