@import url("https://fonts.googleapis.com/css?family=Raleway:800,400,300,100");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: rgba(145,28,128,0.8);
}
::selection {
  background: rgba(145,28,128,0.8);
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
:-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
html {
  min-height: 100%;
  font-size: 100%;
  font-size: 11px;
  tap-highlight-color: rgba(0,0,0,0);
}
@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
body {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5625em;
  background: #bbb4b4;
  font-family: Raleway, sans-serif;
  color: #fff;
  line-height: 1.2;
  font-feature-settings: 'kern' 1;
  min-height: 100%;
  overflow-x: hidden;
}
header,
nav,
section {
  max-width: 75em;
  width: 100%;
}
p {
  margin-bottom: 0.625em;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  padding: 0.2em;
  border: 1px solid transparent;
  border-bottom-color: #fff;
  transition: border 0.25s ease-in-out;
}
a:hover,
a:focus {
  border-color: #fff;
  border-color: rgba(255,255,255,0.5);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
li {
  margin: 0;
}
dt,
dd {
  display: inline;
  margin: 0;
}
dd:after {
  content: '\A';
  white-space: pre;
}
button,
.button {
  font-size: 1.375rem;
  display: inline-block;
  padding: 1.111111111111111em 1.666666666666667em;
  box-shadow: 2px 2px 0px 2px #004b9f;
  border: transparent solid;
  border-width: 0 0.222222222222222em 0.222222222222222em 0;
  border-radius: 0.222222222222222em;
  color: #fff;
  letter-spacing: 0.5px;
  background: #0069b4;
  transition: background-color 0.15s ease-in-out;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  border-color: transparent;
  background-color: #004b9f;
}
@media (min-width: 600px) {
  button,
  .button {
    font-size: 1.125rem;
  }
}
.main-header {
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2.5em;
}
@media (min-width: 600px) {
  .main-header {
    margin-top: -4.0625em;
  }
}
@media (min-width: 900px) {
  .main-header {
    width: 50%;
    align-self: flex-start;
    align-item: flex-start;
  }
}
.main-header:before {
  content: '';
  position: absolute;
  top: calc(100% + 20px);
  right: -1.875em;
  width: 150%;
  height: 37.5em;
  background-image: url("../images/keyvisual.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
}
@media (min-width: 600px) {
  .main-header:before {
    top: calc(100% + 50px);
  }
}
@media (min-width: 900px) {
  .main-header:before {
    top: 4.375em;
    right: calc(-100% - 30px);
    height: 47.5em;
  }
}
.main-header__logo {
  max-width: 10em;
  margin-bottom: 2.8125em;
}
.main-header__title {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
}
@media (min-width: 600px) {
  .main-header__title {
    font-size: 1.125em;
  }
}
.main-header__tagline {
  font-size: 3.5rem;
  margin: 0;
  max-width: 8.035714285714286em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 900px) {
  .main-header__tagline {
    text-align: left;
  }
}
.main-header span {
  font-weight: 800;
}
.main-footer {
  font-size: 1rem;
  margin: 5em 0 10em 0;
}
.main-footer__link img {
  vertical-align: bottom;
  margin-right: 0.2em;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.9375em;
}
.navigation__list {
  font-size: 0.875rem;
  display: flex;
  flex-grow: 1;
  margin-left: 11.428571428571429em;
}
.navigation__ticket-button {
  display: none;
  align-self: flex-end;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 600px) {
  .navigation__ticket-button {
    display: block;
  }
}
.section {
  font-size: 1rem;
  display: flex;
  margin-top: 25em;
}
@media (min-width: 900px) {
  .section {
    margin-top: 6.25em;
  }
}
.section--date {
  justify-content: center;
  width: auto;
  flex-grow: 1;
  margin-top: 31.25em;
}
@media (min-width: 900px) {
  .section--date {
    margin-top: 5em;
  }
}
.section--date .section__content {
  width: auto;
}
.section--date .section__title {
  text-align: center;
}
.section--coc {
  justify-content: center;
  margin-top: 6.25em;
}
.section__content {
  width: 100%;
  text-align: center;
}
@media (min-width: 600px) {
  .section__content {
    text-align: left;
  }
}
@media (min-width: 900px) {
  .section__content {
    width: 48%;
  }
}
.section__title {
  font-size: 3.636363636363636em;
  margin-bottom: 0.5em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 600px) {
  .section__title {
    font-size: 2.5em;
  }
}
@media (min-width: 900px) {
  .section__title {
    text-align: left;
    font-size: 2.5em;
  }
}
.section__title .bold {
  font-weight: 800;
}
.section__title .light {
  font-weight: 100;
  text-transform: none;
}
@media (min-width: 600px) {
  .section__title {
    font-size: 3.75em;
  }
}
.section__subtitle {
  font-size: 2em;
  font-weight: 400;
  line-height: 2;
}
.section__copy {
  font-size: 1.5em;
  line-height: 1.6;
}
@media (min-width: 600px) {
  .section__copy {
    font-size: 1.125em;
    line-height: 2;
    margin-bottom: 1.333333333333333em;
  }
}
.stay-up-to-date {
  font-size: 1.25rem;
  line-height: 1.666;
  position: relative;
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 18.75em;
}
@media (min-width: 900px) {
  .stay-up-to-date {
    align-self: flex-start;
    margin: 0;
  }
}
.stay-up-to-date input[type="email"] {
  font-weight: 300;
  line-height: inherit;
  width: 100%;
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding-right: 2.2em;
}
.stay-up-to-date button {
  font-weight: 800;
  line-height: inherit;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  box-shadow: none;
  top: 0;
  right: 0;
}
.stay-up-to-date button:after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.6em;
  background: transparent url("../images/arrow-right.svg") no-repeat scroll 50% center;
  background-size: 100%;
  vertical-align: baseline;
  margin-left: 0.3em;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s easeout;
}
.stay-up-to-date label {
  font-size: 0.5833333333em;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-align: left;
}
.stay-up-to-date input,
.stay-up-to-date input:hover,
.stay-up-to-date input:focus {
  outline: none;
}
.stay-up-to-date button:hover:after,
.stay-up-to-date button:focus:after {
  transform: translateX(0.2em);
  transform: translateX(0.2em);
}
.stay-up-to-date button:hover,
.stay-up-to-date button:focus {
  background-color: transparent;
}
.tickets {
  position: relative;
  flex-direction: row-reverse;
}
.tickets:before {
  content: '';
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 31.25em;
  background-image: url("../images/ticket.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
@media (min-width: 900px) {
  .tickets:before {
    top: 0;
    height: 100%;
    width: 50%;
  }
}
.tickets__prices span {
  font-weight: 800;
}
.awesome {
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 900px) {
  .awesome {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}
.awesome__title {
  text-align: right;
}
.sponsor {
  font-size: 1rem;
  position: relative;
  margin-top: 5em;
}
.sponsor:before {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-image: url("../images/sponsor.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
@media (min-width: 900px) {
  .sponsor:before {
    top: 0;
    right: 0;
    width: 50%;
  }
}
.map {
  font-size: 1rem;
  position: relative;
  padding-bottom: 400px;
}
.map__canvas {
  height: 400px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
