*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  font-size: 100%;
  tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: Raleway, sans-serif;
  background: #cac4c4 url("../images/background.jpg") no-repeat right bottom;
  background-size: 160%;
  font-size: 1rem;
  line-height: 1.2;
  color: #fff;
  min-height: 100%;
  padding: 2.5em 7.5% 30em 7.5%;
  padding-bottom: 150vw;
  font-feature-settings: 'kern' 1;
}
::-moz-selection {
  background: rgba(145,28,128,0.8);
}
::selection {
  background: rgba(145,28,128,0.8);
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
:-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
header {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5em;
  text-align: left;
  margin-bottom: 2.5em;
  max-width: 28.125em;
}
.logo {
  vertical-align: bottom;
  width: 6.25em;
  max-width: 17.1875em;
  margin-bottom: 2.5em;
  width: 10em;
}
h1,
h2 {
  font-size: 2.25em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
}
h1 {
  font-size: 3.5em;
}
h1 strong {
  font-weight: 800;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: none;
  margin-bottom: 1.6666666667em;
  margin-bottom: 0.75em;
}
h2 .separator {
  display: none;
  display: inline;
}
h2 br {
  display: none;
}
.stay-up-to-date {
  font-size: 1.25rem;
  line-height: 1.666;
  position: relative;
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 18.75em;
  margin: 0;
}
.stay-up-to-date input[type="email"] {
  font-weight: 300;
  line-height: inherit;
  width: 100%;
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding-right: 2.2em;
}
.stay-up-to-date button {
  font-weight: 800;
  line-height: inherit;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.stay-up-to-date button:after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.6em;
  background: transparent url("../images/arrow-right.svg") no-repeat scroll 50% center;
  background-size: 100%;
  vertical-align: baseline;
  margin-left: 0.3em;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s easeout;
}
.stay-up-to-date label {
  font-size: 0.5833333333em;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-align: left;
}
.stay-up-to-date input,
.stay-up-to-date input:hover,
.stay-up-to-date input:focus {
  outline: none;
}
.stay-up-to-date button:hover:after,
.stay-up-to-date button:focus:after {
  transform: translateX(0.2em);
  transform: translateX(0.2em);
}
@media (min-width: 700px) {
  body {
    background-size: 120%;
    background-position: right 30em;
    padding-bottom: 70vw;
  }
}
@media (min-width: 1000px) {
  body {
    padding: 2.8125em 4.6875em 2.8125em 4.6875em;
    padding-bottom: 30vw;
    background-size: 75%;
    background-position: right 22em;
  }
}
@media (min-width: 1280px) {
  body {
    background-size: 60%;
    background-position: right 9em;
    padding: 9em 4.6875em;
  }
}
